html {
  scroll-behavior: smooth;
  font-family: Helvetia, sans-serif, Arial;
}

body {
  margin: 0 auto;
  background-image: url("bærekraft.jpg");
  height: 100%;
  background-position: top  ;
  background-repeat: no-repeat;
  background-size: cover;

}
